body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}