:root {
    --md-fill: #667CE0;
    --md-border: #0B1D6F;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    color: var(--md-fill);
    background-color: var(--md-border);
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar li {
    float: left;
}